:root{
  --clr-primary-100:hsl(0, 0%, 100%);
  --clr-primary-300: hsl(252, 100%, 67%);
  --clr-primary-400:hsl(241, 81%, 54%);
  --clr-primary-500: hsl(224, 30%, 27%);

  --clr-secondary-300: hsla(256, 72%, 46%, 1);
  --clr-secondary-400: hsla(241, 72%, 46%, .8);

  --clr-neutral-100: hsl(0, 0%, 100%); 
  --clr-neutral-400: hsl(241, 100%, 89%);
  --clr-neutral-500: hsl(224, 30%, 27%);
  
  
 

  --clr-red-op:hsla(0, 100%, 67%,.05);
  --clr-yellow-op: hsla(39, 100%, 56%,.05);
  --clr-teal-op: hsla(166, 100%, 37%,.05);
  --clr-blue-op: hsla(234, 85%, 45%,.05);
  --clr-neutral-500-op: hsla(224, 30%, 27%,.5);

  --clr-red:hsl(0, 100%, 67%);
  --clr-yellow: hsl(39, 100%, 56%);
  --clr-teal: hsl(166, 100%, 37%);
  --clr-blue: hsl(234, 85%, 45%);

  --ff-primary: "Hanken Grotesk", sans-serif;

  --ff-body: var(--ff-primary);

  --fw-regular: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;

  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3.5rem;
  --fs-body: var(--fs-400);

  --space-200: .75rem;
  --space-300: 1rem;
  --space-400: 2.5rem;

  --br-300:.75rem;
  --br-400: 1rem;
  --br-500: 1.5rem;
  --br-600: 2rem;
  --br-700: 2.5rem;

  --pd-400: 2em;
  --pd-500: 2.5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* Utility classes*/
/* text color */

.text-neutral-100{
  color: var(--clr-neutral-100);
}
.text-neutral-400{
  color: var(--clr-neutral-400);
}
.text-neutral-500{
  color: var(--clr-neutral-500);
}
.text-neutral-500-op{
  color: var(--clr-neutral-500-op);
}

.text-reaction{
  color: var(--clr-red);
}
.text-memory{
  color: var(--clr-yellow);
}
.text-verbal{
  color: var(--clr-teal);
}
.text-visual{
  color: var(--clr-blue);
}
/* background color */
.bg-gradient-400{
  background-image: linear-gradient(var(--clr-primary-300),var(--clr-primary-400));
}
.bg-gradient-400-circle{
  background-image: linear-gradient(var(--clr-secondary-400),var(--clr-secondary-300));
}
.bg-primary-300{
  background-color: var(--clr-primary-300);
}
.bg-primary-100{
  background-color: var(--clr-primary-100);
}
.bg-primary-400{
  background-color: var(--clr-primary-400);
}
.bg-primary-500{
  background-color: var(--clr-primary-500);
}

.bg-reaction{
  background-color: var(--clr-red-op);
}
.bg-memory{
  background-color: var(--clr-yellow-op)
}
.bg-verbal{
  background-color: var(--clr-teal-op);
}
.bg-visual{
  background-color: var(--clr-blue-op);
}

/* font weight */
.fw-regular{
  font-weight: var(--fw-regular);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}
.fw-bold{
  font-weight: var(--fw-bold);
}

/* font sizes */
.fs-400{
  font-size: var(--fs-400);
}
.fs-500{
  font-size: var(--fs-500);
}
.fs-600{
  font-size: var(--fs-600);
}
.fs-700{
  font-size: var(--fs-700);
}
.fs-800{
  font-size: var(--fs-800)
}

/*spacing */
.pd-all-400{
  padding: var(--pd-400);
}
.pd-block-400{
  padding-block: var(--pd-400);
}
.pd-inline-400{
  padding-inline: var(--pd-400);
}
.pd-all-500{
  padding: var(--pd-500);
}
.pd-block-500{
  padding-block: var(--pd-500);
}
.pd-inline-500{
  padding-inline: var(--pd-500);
}

/* general styling*/
body{
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  background-color: hsl(275, 100%, 97%);
}
button:hover{
  background-image: linear-gradient(var(--clr-primary-400), var(--clr-primary-300));
}
tbody{
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}
tr{
  display: flex;
  border-radius: .5em;
  padding: var(--space-200);
}
.button{
  padding: 0.85em;
  border-radius: 100vmax;
  border-style: none;
  cursor: pointer;
}
.container{
  --width: 40.625rem;
  --height: 28.125rem;
  width: var(--width);
  height: var(--height);
  max-width: min(var(--width), 100%);
  max-height: min(var(--height), 100%);
}
.nameIcon{
  display: flex;
  gap: var(--space-200);
}
.results{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  border-radius: var(--br-500);
  width: 18.333em;
  height: 25em;
  position: absolute;
  z-index: 1
}
.percentile{
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}
.percentile  p{
  align-self: center;
  width: 105%;
}
.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 9.167em;
  height: 9.444em;
  border-radius: 100%;
}
.score h1{
  padding-top: .75em;
}

.summary{
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  width: 20em;
  position: relative;
  left: 18rem;
  padding-left: 4em;
  border-radius: 0px 1em 1em 0;
}
.value{
  margin-left: auto;
}

@media(max-width: 40.625em){
  body{
    align-items: flex-start;
    background-color: white;
  }
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .percentile p{
    width: 29ch;
    max-width: 84%;
  }
  .results,.summary{
    position: static;
    font-size: .8333em;
  }
  .results{
    width: 100vw;
    border-radius: 0 0 2em 2em;
  }
  .score h1{
    padding-top: .55em;
  }
  .summary{
    align-self: center;
    min-width: 55vw;
  }
  .summary > *{
    flex: 1;
  }
}